
.card{
  max-width: 250px;
  border: solid rgb(100, 98, 98);
  border-radius: 10px ;
  box-shadow: rgb(202, 122, 122);
  text-align: center;
  margin: 20px;
  padding: 10px;

}
.button{
  background-color: hsl(249, 72%, 45%);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}
.loggedin{
  background-color: rgba(9, 241, 133, 0.87);
  color: white;
  border-radius: 10px;
  
}
.notloggedin{
  background-color: rgb(136, 16, 16);
  color: white;
  border-radius: 10px;
  
}
h2{
  text-align: center;
  margin: 2px;
  max-width: 250px;
}

.score{
  margin:10px;
  text-align: center;
  max-width: 400px;
  background-color: rgba(8, 2, 2, 0.89);
  color: rgba(32, 235, 235, 0.89);
  align-content: center;
  border-radius: 10px;
  border-style: none;
  padding: 2px;

}
.decrement{
  background-color: rgba(172, 73, 73, 0.801);
  color: white;
  font-size: large;
  padding: 3px;
  border-radius: 10px;
  border-style: none;
  margin: 5px;
}
.increment{
  background-color: rgba(70, 190, 33, 0.801);
  color: white;
  font-size: large;
  padding: 3px;
  border-radius: 10px;
  border-style: none;
  margin: 5px;

}

.reset{
  background-color: rgba(33, 35, 36, 0.801);
  color: white;
  font-size: large;
  padding: 3px;
  border-radius: 10px;
  border-style: none;
  margin: 5px;
}

.content-display{
  font-size: 10em;
}
.selected-display{
  max-width: 250px;
  height: 300px;
}

.color-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 500px;
}
.to-do-container{
  background-color: rgb(153, 170, 196);
  max-width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
  align-items: center;
  
  
}

h1{
  color: rgba(24, 26, 25, 0.788);
  text-align: center;
}

.tasks-container{
  border-radius: 10px;
  background-color: ghostwhite;
  padding: 1cm;
  align-content: center;
}
button{
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  padding-bottom: 5px,;
  

}

.delete-btn{
  background-color: rgb(219, 121, 121);
  color: white;
}
.delete-btn:hover{
  background-color: rgba(221, 2, 2, 0.664);
}
span{
  font-size: 1.2em;
  background-color:ghostwhite;

}
.add-btn{
  background-color: rgba(86, 230, 86, 0.733);
}
.add-btn:hover{
  background-color: rgba(8, 105, 8, 0.945);
}
ol{
  padding:o;
  list-style: none;
}
li{
  padding: 15px;
  margin-bottom: 3px;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
 
}
.text{
  flex: 1;
  margin-right: 5px;
}

.up-btn, .down-btn{
  padding: 10px,5px;
  margin-left: 10px;
  background-color: rgb(97, 97, 219);
}
.down-btn{
  margin-right: 10px;
}

input[type="text"]{
  font-size: 1.2rem;
  color: rgb(78, 69, 69);
}

.counter-container{
  max-width: 400px;
}